<h1>This is a Test Page</h1>

<% if @user_name %>
<p>Displaying <%= @users.length %> result(s)</p>
<% elsif @error_message %>
<p><%= @error_message %></p>
<% end %>

<% @users.each do |user| %>
  <li>
      <%= link_to("#{user.email}", "/users/#{user.id}") %>
  </li>
<% end %>