.profile-img {
  border-radius: 10px;
  display: inline;
  width: 20%;
  float: left;
  margin: 0 1rem 1rem 0;
}

.small-img {
  border-radius: 10px;
  display: inline;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 1rem 1rem 0;
  object-fit: cover;
}

.friend-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 1rem 1rem 0;
  object-fit: cover;
  display: inline;
}

.friend-img:hover {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px #f5f5f5;
}

.sad-img {
  display: inline-block;
  width: 100%
}

.footer {
  background-color: #f5f5f5;
}